---
import Image from '~/components/common/Image.astro';
import type { CallToAction } from '~/types';

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
  image?: string | any;
}

const { id,
 image = await Astro.slots.render('image')
 } = Astro.props;
---

<section class="py-4" {...id ? { id } : {}}>
  <div class="flex items-center justify-center w-full h-[250px] md:h-[300px] bg-cover bg-center shadow-lg">
    <Image
      class="h-[250px] md:h-[300px]"
      loading="eager"
      style="max-width:100%;"
      {...image}
    />
    <button id="appointment" class="absolute flex bg-black bg-opacity-60 text-white text-xl font-bold px-6 py-3 hover:bg-opacity-80 rounded transition-all">Book an Appointment</button>
  </div>
</section>

<script>
  const buttons = document.querySelectorAll('#appointment');

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      window.location.href = 'https://www.massagebook.com/therapists/restorativebodyworkatx'
    });
  });
</script>
